git "file:///Users/f.souto.gonzalez/Documents/xcode/halo-ios/" "feature/push-event-actions"
#github "mobgen/halo-ios" "develop"
binary "https://raw.githubusercontent.com/mobgen/halo-notifications-ios/2.3.3/halo-firebase.json" == 4.0.2
